* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h1 {
    margin: 6mm 0 6mm 0;
    font-size: 32pt;
    font-weight: 900;
}

h2 {
    margin: 3mm 0 3mm 0;
    font-size: 18pt;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    margin: 8mm 0 4mm 0;
    font-size: 16pt;
    font-weight: 600;
    text-transform: uppercase;
}

h4 {
    margin: 3mm 0 3mm 0;
    font-size: 12pt;
    font-weight: 600;
    text-transform: uppercase;
}

h5 {
    margin: 3mm 0 4mm 0;
    font-size: 11pt;
    font-weight: 600;
    color: #6a6b67
}

p {
    font-size: 11pt;
}

.command {
    font-weight: 600;
    font-size: 10pt;
    margin: 8mm 0mm 2mm 0mm;
}

.skill {
    padding: 2mm;
    margin: 1mm 1mm 0 0;
    border-radius: 12px;
    background-color: #6a6b67;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 10pt;
    float: left;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EEEEEC;
    color: #2E3436;
    font-family: "Lucida Console", "Courier New", monospace;
}

.page {
    width: 210mm;
    min-height: 297mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    box-shadow: 0 0 5px #D3D3D3;
    background-color: #FCFCFB;
}

.page header, footer, .side {
    color: #EEEEEC;
}

.page > header {
    width: 100%;
    height: 80mm;
    background-color: #2E3436;
    background-clip: content-box;
    padding: 3mm 3mm 0mm 3mm;
}

.page > header .photo {
    font-size: 8pt;
    line-height: 1.25;
    color: #8a8b87;
    float: right;
    margin-right: 4mm;
    text-align: end;
}

.page > header .wrapper {
    margin: 8mm 0 0 8mm;
    float: left;
}

.page > .side {
    float: left;
    width: 40%;
    height: 202mm;
    padding: 3mm 0mm 3mm 3mm;
    background-color: #2E3436;
    background-clip: content-box;
}

.page > .side .wrapper {
    margin: 4mm 3mm 4mm 3mm;
}

.page > .right {
    float: left;
    width: 60%;
    height: 202mm;
    padding: 6mm;
}

.page > .full {
    width: 100%;
    height: 282mm;
    padding: 20mm 24mm 24mm 24mm;
}

.page .experience {
    float: left;
    margin: 8mm 0 0 0;
}

.page .experience:first-of-type {
    margin: 4mm 0 0 0;
}

.page .experience p {
    margin: 0;
}

.page .skills {
    float: left;
    margin-top: 3.5mm;
}

.page > footer {
    width: 100%;
    height: 15mm;
    background-color: #2E3436;
    background-clip: content-box;
    padding: 0mm 3mm 3mm 3mm;
    float: left;
}

.page > footer .left {
    margin: 4mm;
    font-size: 10pt;
    float: left;
}

.page > footer .right {
    margin: 4mm;
    font-size: 10pt;
    float: right;
}

.page a:visited, a:link {
    color: #FFFFFF;
    text-decoration: underline;
}

.page ul {
    display: inline;
    padding: 0;
}

.page ul > li {
    list-style: none;
    font-size: 10pt;
    padding: 1mm;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }

    .page {
        width: initial;
        min-height: initial;
        margin: 0px;
        border: initial;
        border-radius: initial;
        background: initial;
        box-shadow: initial;
        page-break-after: always;
    }

    .page > header .photo {
        line-height: 1.25;
    }
}
